@media screen and (max-aspect-ratio) {
	
}






.ui-dialog {
    width: 800px;
    font-family: "Open-Sans";
    position:fixed;
    z-index:50;
    top:17%;
    left:9%;
}


#top {
	padding:0;
	overflow:hidden;
	position:absolute;
	display:inline;
	margin:auto;
	top:0;
	text-align:center;
	width:100%;
	background-color:#2c3e50;
	color:white;
}

#topTitle{
	text-decoration: none;
	color:white;
}
#cont {
	text-align: center;
	width:0 auto;
	display:inline;
}

#centerdiv {
	text-align:center;
	width:800px;
	margin:100px auto 10px auto;
}

.inputfile {
width: 0.1px;
height: 0.1px;
opacity: 0;
overflow: hidden;
position: absolute;
z-index: -1;
}

select {
	font-size:2em;
}

h2 {
	font-size:3em;
	font-family:"Heebo",sans-serif;
}



#instructions {
	background:    #1abc9c;
	color:         #fff;
	text-decoration: none;
	display:       block;
	padding:       20px 22px;
	font:          normal 700 4em/1 "Open Sans", sans-serif;
	text-align:    center;
	text-shadow:   none;
	margin:50px auto;
	-webkit-box-shadow: 4px 4px 28px -9px rgba(107,107,107,0.62);
	-moz-box-shadow: 4px 4px 28px -9px rgba(107,107,107,0.62);
	box-shadow: 4px 4px 28px -9px rgba(107,107,107,0.62);
}



#blackPhoto {
	background:    #c0392b;
	color:         #fff;
	text-decoration: none;
	display:       block;
	padding:       20px 22px;
	font:          normal 700 3.5em/1 "Open Sans", sans-serif;
	text-align:    center;
	text-shadow:   none;
	margin:0 auto 50px;
	-webkit-box-shadow: 4px 4px 28px -9px rgba(107,107,107,0.62);
	-moz-box-shadow: 4px 4px 28px -9px rgba(107,107,107,0.62);
	box-shadow: 4px 4px 28px -9px rgba(107,107,107,0.62);
}

#actionButtons {
	margin:10px auto;
	width:800px;
}



label {
	background:    white;
	color:         goldenrod;
	display:       block;
	padding:       20px 22px;
	font:          normal 700 3.5em/1 "Open Sans", sans-serif;
	text-align:    center;
	text-shadow:   none;
	margin-top:10px;
	margin-bottom:10;
	margin-left:auto;
	margin-right:auto;
	-webkit-box-shadow: 4px 4px 28px -9px rgba(107,107,107,0.62);
	-moz-box-shadow: 4px 4px 28px -9px rgba(107,107,107,0.62);
	box-shadow: 4px 4px 28px -9px rgba(107,107,107,0.62);
}

#cancon{
	margin-left: auto;
	margin-right: auto;
	display:block;
	width:1000px;
}


#drag {
	display:none;
	position:absolute;
	margin:3% 4%;
}


#slideNav {
	margin: 40% auto;
	position:absolute;
	width:100%;
	z-index:50;
}

#left {
		display:inline-block;
	border-radius: 10px;
	display:inline-block;
	background:    #34495e;
	color:         white;
	text-decoration: none;
	width:10%;
	opacity:0.5;
	margin-right:50px;
	padding:       20px 22px;
	font:          normal 700 4em/1 "Open Sans", sans-serif;
	text-align:    center;
	text-shadow:   none;
	box-shadow: 10px 11px 25px -6px rgba(0,0,0,0.55);

}

#right {		display:inline-block;
	border-radius: 10px;
	display:inline-block;
	background:    #34495e;
	color:         white;
	text-decoration: none;
	width:10%;
	opacity:0.5;
	margin-left:50px;
	padding:       20px 22px;
	font:          normal 700 4em/1 "Open Sans", sans-serif;
	text-align:    center;
	text-shadow:   none;
	box-shadow: 10px 11px 25px -6px rgba(0,0,0,0.55);


}
#chooser {
	border-radius: 10px;
	display:inline-block;
	background: #1e8449;
	color:         white;
	text-decoration: none;
	width:40%;
	opacity:0.5;
	padding:       20px 22px;
	font:          normal 700 4em/1 "Open Sans", sans-serif;
	text-align:    center;
	text-shadow:   none;
box-shadow: 10px 11px 25px -6px rgba(0,0,0,0.55);

	}

h1 {
	text-align:center;
	font-weight: lighter;
	font-family:'Open Sans', sans-serif;
	font-size:3.5vw;
	letter-spacing: 8px;
	-webkit-font-smoothing:antialiased;
}

h3 {
	font-family:'Open Sans';
	font-size:2em;
	font-weight:300;
	-webkit-font-smoothing:antialiased;
}

#text {
	margin: 0.8em 4em;
}

p {
	-webkit-font-smoothing:antialiased;		
	text-align: center;
}

.reveal {
	position:relative;
	-webkit-box-shadow: 4px 4px 28px -9px rgba(107,107,107,0.62);
	-moz-box-shadow: 4px 4px 28px -9px rgba(107,107,107,0.62);
	box-shadow: 4px 4px 28px -9px rgba(107,107,107,0.62);
}


#imgControl {
	margin:0px auto;
	width:100%;


}

#rotleft {
		display:inline-block;
		margin-right:5%;
		color:#2c3e50;
		text-decoration: none;
}

#rotright {
		display:inline-block;
		margin-left:5%;
		color:#2c3e50;
		text-decoration:none;
}

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    
    /*required for proper track sizing in FF*/
    width: 70%;
    background-color:#ecf0f1;
    text-align:center;
    margin-top:70px;
    margin-bottom:50px;
    padding-bottom:25px;
	display:inline-block;

}
input[type=range]::-webkit-slider-runnable-track {
    width: 150px;
    height: 15px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 100px;
    width: 100px;
    content:"scale";
    color:white;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -50px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: goldenrod;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
