#title {
	text-align:center;
}

#header {
	position:absolute;
	width:100%;
	padding-top:0px;
	top:0px;
	margin-top:0px;
}



#nav {
	position:fixed;
	margin:auto;
	text-align: center:;
	right:0px;
	padding-left:0px;
	background-color:white;
	margin-top:0px;
}

#nav li {
	display: inline-block;
	font-family: 'Dosis', sans-serif;
	font-size:1.2em;
	-webkit-font-smoothing: antialiased;
	padding:10px;
	width:100px;
	text-align:center;
}

#nav li:hover {
	transition: background-color 0.5s ease;
	background-color: #555;
}


#nav li a {
	text-decoration: none;
}