
html, body, #sitewrap  {
	height:100%;
	font-family:'Roboto';
	-webkit-font-smoothing: antialiased;
	margin:0;
}
a{
	text-decoration: none;
}

#home-button, #back-button{
	width:initial !important;
	height: initial !important;
}

#home-button a{
	position:fixed;
	top:5px;
	left:5px;
	text-decoration: none;
	color:#3F5173;
}
#home-button a:-webkit-any-link,#back-button a:-webkit-any-link{
	color:#3F5173;

}

#back-button a{
	position:fixed;
	bottom:5px;
	left:5px;
	text-decoration: none;
	color:#3F5173;
}
h1, p {
	    -webkit-font-smoothing: antialiased;
	    margin:0;
}

body{
	background-color:#fff;
}
#root,#root > div{
	width:100%;
	height:100%;

}

#root{
	overflow:auto;
}

#main {
	position: absolute;
	bottom:0;
}

#center {
	width:50%;
	margin:auto;
	height:80%;
	bottom:0;
}

a{
	text-decoration: none;

}

#faceimage, #face{
	display:block;
	height:20vw;
	width:20vw;
	margin:0 auto;
	opacity:0;
	text-align: center;
}
#face{
	transform:translateY(200px);
	opacity:0;
	transition:0.85s ease-in-out;
}
#faceimage {
	z-index:5;
	opacity:1;
	transition:0.5s ease;
}
#faceimage.move, #face.move{
	transform:translateY(0px);
	opacity:1;
}

#faceimage span{
	font-size:1vw;
	font-weight:300;
	opacity:0;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	transition: 0.5s ease;
}

#bigtext {
	z-index: 4;
	width:100%;
	margin: 0px auto 0px;
}

h1 {
	font-family: "Roboto", sans-serif;
	font-weight:300;
	text-align: center;
	font-size: 3.5vw;
	margin:10px auto 0px;
}

#homer {
	width:0;
	transition:1s ease-in-out;
	transition-delay:0.7s;
}

#homer.move{
	width:90%;
}

#first {
	-webkit-transform:translate(0px,100px);
	opacity:0;
	-webkit-transition:-webkit-transform 500ms ease-out, opacity 0.5s ease-in-out;
}
#first.move {
	-webkit-transform:translate(0px,0px);
	opacity:1;
	-webkit-transition:-webkit-transform 700ms ease-out, opacity 0.5s ease-in-out;
	-webkit-transition-delay:0.1s;

}

#second {
	-webkit-transform:translate(0px,200px);
	opacity:0;
	-webkit-transition:-webkit-transform 500ms ease-out, opacity 0.5s ease-in-out;
}
#second.move {
	-webkit-transform:translate(0px,0px);
	opacity:1;
	-webkit-transition:-webkit-transform 1000ms ease-out, opacity 0.5s ease-in-out;

}


.words {
	width:100%;
	margin-left:auto;
	margin-right:auto;
	-webkit-transform:translate(0px,300px);
	-webkit-transition:-webkit-transform 1000ms;
	transform:translate(0px,300px);
	transition:-webkit-transform 1000ms;
	opacity:0;
}

.words.move {
	-webkit-transform: translate(0,0);
	transform: translate(0,0);
	opacity:1;
	transition:all 1000ms;
	-webkit-transition-delay:0.4s;


}

.words p {
	font-family:'Roboto', sans-serif;
	text-align: justify;
	margin-top:20px;
	font-weight:300;
	font-size:1.5vw;
	bottom:-50px;
}

strong{
	font-weight:400;
}

#rightarrow{
	position:fixed;
	right:0;
	top:50%;
	color:black;
	transform:translateY(-50%);
}
#rightarrow i, #rightarrow p{
	display:inline;
	font-size:56px;
	vertical-align: middle;
}
#rightarrow p {
	font-weight:200;
	font-size:24px;
}

#rightarrow p.move {
	opacity:0;
	transition:1s;
	transition-delay: 1s;	
}

#cool-container {
	height:97%;
	margin-left:auto;
	margin-right:auto;
	display:flex;
	margin:1.5%;
}

#cooler-container{
	height:100%;
	margin-left:auto;
	margin-right:auto;
	display:flex;
	margin:1.5%;

}


#graphics, #web, #photo {
	width:33%;
	position:relative;
	top:50%;
	transform: translateY(-50%);
	transition:0.5s ease;
	text-align: center;
	vertical-align: middle;
}

#graphics:hover, #web:hover, #photo:hover{
	height:90%;
	transition:0.5s ease;
}

#graphics {
	background-color:#E24E42;
	height:55%;
	order:1;
	overflow:hidden;
}

#graphics:hover > video{
	transition:0.5s ease;
}

#graphics video{
	opacity:0.5;
	transition:0.5s ease;
	height:100%;
	width:100%;
	object-fit:cover;
}

#gfx, #proto{
	position:relative;
	top:50%;
	transform: translateY(-50%);
	transition:0.5s ease;
	text-align: center;
	vertical-align: middle;
}

#gfx:hover, #proto:hover{
	height:90%;
	transition:0.5s ease;
}

#gfx {
	background-color:#00BED1;
	width:50%;
	height:55%;
	order:1;
	overflow:hidden;
}

#gfx:hover > img{
	transition:0.5s ease;
}

#gfx img{
	opacity:0.5;
	transition:0.5s ease;
	object-fit:cover;
	height:100%;
	width:100%;
}


#proto {
	background-color:#D76236;
	width:50%;
	height:55%;
	order:2;
	margin:0 1%;
	overflow:hidden;
}

#proto:hover > img{
	margin-left:-200px;
	transition:0.5s ease;
}

#proto img{
	opacity:0.5;
	transition:0.5s ease;
	object-fit:cover;
	height:100%;
	width:100%;
}



#web {
	background-color:#E9B000;
	height:55%;
	order:2;
	margin:0 1%;
	overflow:hidden;
}

#web:hover > video{
	transition:0.5s ease;
}

#web video{
	height:100%;
	width:100%;
	object-fit:cover;
	opacity:0.5;
	transition:0.5s ease;
}

#photo {
	background-color:#008F95;
	height:55%;
	order:3;
	overflow:hidden;
}
#photo:hover > video{
	transition:0.5s ease;
}
#photo video{
	height:100%;
	width:100%;
	object-fit:cover;
	opacity:0.5;
	transition:0.5s ease;
}

#cool-container span, #cooler-container span{
	position:absolute;
	top:50%;
	transform: translateY(-50%);
	text-align: right;
	margin:0 auto;
	vertical-align: middle;
	right:10%;
	color:black;
	padding:5px;
	font-weight:200;
	background-color:white;
	font-size:20px;
	z-index:10;
}











.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .5s;
}

.fade-enter-active {
  transition-delay: .5s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}

#videos-page{
	display:flex;
	flex-flow:column;
	align-items:center;
	overflow:auto;
}

#videos-page .vd{
	margin-bottom: 35px;
	display:flex;
	width: 80vw;
	align-items:;
	margin-top:35px;
}

.vd img{
	height:300px;
}

.video-right{
	justify-content: flex-end;
}

.vd-text{
	width:40%;
}

.v-left-text{
	margin-left:20px;

}

.v-right-text{
	margin-right:20px;
	text-align: right;
}


.v-title{
	font-size:36px;
	font-weight:500;
	color:#2c3e50;
	line-height:0.85;
}

.v-subtitle{
	font-size:24px;
}

.v-subtitle{
	color:#95a5a6;
	font-weight: 200;
	margin-top:5px;
}

.v-pgraph{
	margin-top:20px;
	font-size:20px;
}


.grid-container{
	display:flex;
	flex-flow:row wrap;
	justify-content: center;
}

.portImages{
}

.portHeader{
	text-align:center;
	font-size:36px;
	font-weight:300;
	letter-spacing: 10px
}

.portSub{
	text-align:center;
	font-size:24px;
	font-weight:300;
	letter-spacing: 10px;
	margin-top:0;	
}

#photo-video{
	display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:30px;
}
#sorted-text{
	font-weight:200;
	color:#303030;
}

.boxImgCont {
	width:150px;
	height:150px;
	overflow:hidden;
	margin:10px;
	border-radius: 1px;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		transition: 0.5s ease;
}
.boxImgCont:hover{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	transition:0.5s ease;
	opacity:0.7;
}

.boxImgCont img{
	width:100%;
}

.isHorPic{
	width:initial !important;
	height:100%;
    transform: translateX(-30%);
}


iframe, .web-img{
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.15));
}


#resume-page{
	display:flex;
	flex-flow:column;
	align-items: center	;
	width:100%;
	padding-top:50px;
	height:calc(100vh - 50px);
	padding-bottom:300px;
	overflow:auto;
}
#resume-page h1{
	font-size:1.5em;
	font-weight:400;
	text-align: left;
}
#resume-header{
	margin-left:150px;
	margin-right:auto;
	color:#363636;
	margin-bottom:50px;
}
.resume-email{
	font-size:1em;
	
}
.resume-email a{
	color:#363636;
	font-size:0.8em;
	font-weight:500;
}
#resume-page h2{
	font-weight:300;
}

.r-content{
	width:100vw;
	margin: 50px 0px;
	margin-top:0;
}
.r-content h3{
	font-weight:500;
}

.r-head{
	display:flex;
	align-items:center;
	width:100vw;
	height:100px;
	padding:20px;
	padding-left:150px;
	transition:0.25s;
}

.r-head:hover{
	filter:brightness(0.9);
}

.r-content a{
	color:#fff;
}

.r-content img{
	height:80px;
}

.r-title {
	font-size:1.5em;
	margin:0;
}

.r-desc{
	margin-left:150px;
	font-weight:400;
	width:60vw;
	line-height:1.5em;
	color:#4a4a4a;
	
}

.r-desc p{
	font-size:1rem;
	margin-top:40px;
}

@media screen and (max-width:768px)
{
	#faceimage,#face{
		width:30vw;
		height:30vw;
	}
	#resume-header{
		margin-left:20px;
		margin-right:20px;
	}
	.r-head{
		padding-left:20px;
		padding-right:20px;
		align-self:center;
	}
	.r-desc{
		margin-left:20px;
		margin-right:20px;
		width:initial;
	}
}




@media screen and (max-aspect-ratio :7/1)
{
	#main{
		bottom:auto;
		top:50%;
		margin:auto;
		transform: translateY(-50%);

	}
	h1{
		font-size:3.5vw;
	}
	#center {
		width:50%;
		top:0;
		bottom:auto;
	}

	p{
		font-size:1.3vw;
	}
}

@media screen and (max-height:450px)
{
	video{
		display:none;
	}
}



@media screen and (max-aspect-ratio :1/1)
{
	#main{
		bottom:auto;
		top:50%;
		margin:auto;
		transform: translateY(-50%);

	}


	.portHeader{
		font-size:36px;
	}
	.video-left{
		flex-flow:column;
	}
	.video-right{
		flex-flow:column-reverse;
	}
	.vd{
		align-items:center;
	}

	.vd-text{
		width:initial;
		text-align: center;
		margin-left:0;
		margin-right:0;
		margin-top:30px;
	}
	iframe{
		width:100%;
	}
	.v-pgraph{
		text-align: left;
		font-size:18px;
	}
	
	#rightarrow p {
	opacity:0;
}

#rightarrow:hover > p {
	opacity:0;
}
	h1{
		font-size:7vw;
	}
	#center {
		width:80%;
		top:0;
		bottom:auto;
	}

	.words p{
		font-size:3vw;
	}

	#sorted-text{
		font-size:3vw;
	}
}
a {
	text-decoration: none
}

#footer{
	position:fixed;
	top:98vh;
	z-index: 9999;
	font-size:10px;
	font-weight:200;
	color:black;
	text-align:center;
}

#footer span{
	font-weight:500;
}
