.sidenav {
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding-top: 60px;
	background-color: #171719;
}

$font-stack : "Merriweather sans";

.sidenav a {
	padding: 10px 32px 10px 32px;
	font-size:25px;
	text-decoration: none;
	color: grey;
	display: block;
	font-family:$font-stack;
	position: relative;
  	top: 25%;
  	transform: translateY(-50%);
  	border: 3px solid red;
}

.biglink {
	top: 50px;
	right: 0;
	height:50%;
	padding: 50px 5px 50px 5px;

}

.biglink a {
	top: 50%;
	color:maroon;
	text-decoration: none;
	font-family:"Merriweather Sans";
	font-size:25px;
	display:block;
	text-align: center;
	left:0px;
	right: 0px;
	background-color:#111;
	border: 3px solid red;

}

body {
	background-color: #2C3D51
}