<!doctype html>

<html lang="en">
<head>
  <!-- Meta Tags -->
  <title>Wenzel Lowe, web developer</title>
  <meta charset="UTF-8">
  <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
  <meta name="description" content="A web developer/front-end designer based in SF Bay Area. Specialization in single page apps and portfolios. Click me!">
  <meta name="keywords" content="web, developer, front-end, javascript, vue, css, html, pittsburg, bay area">
  <meta http-equiv="content-language" content="en">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="language" content="en">
  <meta name="robots" content="index, follow">
  <meta name="googlebot" content="index, follow">
  <meta name="copyright" content="Wenzel Roscoe Lowe">
  <meta name="author" content="Wenzel Roscoe Lowe">
  <meta property="og:url" content="http://www.wrlowe.com" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Wenzel Lowe - Web Developer" />
  <meta property="og:description" content="A web developer/front-end designer based in SF Bay Area. Specialization in single page apps and portfolios." />
  <meta property="og:image" content="facecircle.png" />
  <meta http-equiv="expires" content="0" />
  <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />

  <script src="https://use.fontawesome.com/56313e7cd5.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/css/lightbox.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-43182211-5', 'auto');
    ga('send', 'pageview');
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
<div id="root">
<div id="home-button"><a href="/"><i class="material-icons">home</i></a></div>
<div id="back-button" v-if="this.$route.path !== '/' || this.$route.path !== '/resume'"><a @click="goBack()"><i class="material-icons">keyboard_arrow_left</i></a></div>
<transition name="fade">
<router-view></router-view>
</transition>
<div id="footer" v-if="this.$route.path !='/portfolio/graphics'">© 2015-2018 Wenzel Roscoe Lowe. 
<span ><a href="/LoweWenzelResume.pdf" target="_blank" style="color:#005475">Resume</a></span>.
<span><a href="mailto:lowewenzel@gmail.com" target="_blank" style="color:#750000">Email.</a></span>
<span><a href="http://github.com/lowewenzel" target="_blank" style="color:#767676"><i class="fa fa-github-square" aria-hidden="true"></i></a></span>
<span><a target="_blank" href="http://linkedin.com/in/lowewenzel"  style="color:#0077B5"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></span>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/js/lightbox.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="script.js"></script>

</body>

</html>